<!--定义宏-->
<!--传入参数-->
{% macro pagination_widget(pagination, endpoint) %}
<ul class="pagination">
    <!--没有上一个就将图标disable，否则正常-->
    <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
        <!--指向上一个的链接-->
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{% else %}#{% endif %}">
            &laquo;
        </a>
    </li>
    <!--分页展示-->
    {% for p in pagination.iter_pages() %}
        {% if p %}
            <!--当前页面高亮-->
            {% if p == pagination.page %}
            <li class="active">
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
            </li>
            {% else %}
            <!--非当前页面普通-->
            <li>
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
            </li>
            {% endif %}
        {% else %}
        <!--None page-->
        <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}
    <!--向下链接-->
    <li{% if not pagination.has_next %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{% else %}#{% endif %}">
            &raquo;
        </a>
    </li>
</ul>
{% endmacro %}
