{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %} BooleanMe - 首页 {% endblock %}
{% block page_content %}

<div class="page-header row">
    <h1 class="col-md-4">
    你好,
    {% if current_user.is_authenticated %}
    {{ current_user.name }}
    {% else %}
    stranger
    {% endif %}
    </h1>
    <a href="{{ url_for('.makePost') }}">
        <button type="button" class="btn btn-primary btn-lg">写文章</button>
    </a>
</div>

<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.all') }}">All</a></li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.followed') }}">Followers</a></li>
        {% endif %}
    </ul>
    {% include '_post.html' %}
    
</div>
<div class="pagination">
        {{ macros.pagination_widget(pagination,'.index') }}
        
</div>


{% endblock %}

