{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %} user {{user.name}} {% endblock %}
{% block page_content %}
<div class="page-header">
    <div class="row">
        {% if user.avator %}
        <img class="img-circle col-md-3 user-avator" src="{{ url_for('static',filename='pic/'+user.avator) }}" alt="头像">
        {% endif %}

        <div class="col-md-6">
            <div class="user-info">
                <div class="user-name">
                    <h1>{{user.name}}</h1>
                </div>
                <div class="user-aboutme">
                    <p>{{user.about_me}}</p>
                </div>
                <div class="clear"></div>
            </div>
            <div>
                {% if user.name or user.location %}
                <p>
                {% if user.location %}
                    来自： <a href="http://maps.google.com/?q={{user.location}}">{{user.location}}</a>
                {% endif %}
                
                </p>
                {% endif %}
            </div>
            <!--显示相关信息-->
            
            
            {% if current_user.is_administrator() %}
            <p>邮箱：<a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            {% endif %}
            
            <p>
            {% if user.member_since %}
                注册自: {{user.member_since}}
            {% endif %}
            </p>
            <p>
            {% if user.last_seen %}
                上次见: {{user.last_seen}}
            {% endif %}
            </p>
            <a href="{{ url_for('.followers',username=user.name) }}">
                关注: <span class="badge">{{ user.followed.count() }}</span> 
            </a>
            <a href="{{ url_for('.followed_by',username=user.name) }}">
                被关注: <span class="badge">{{ user.followers.count() }}</span>
            </a>
            <!--显示编辑菜单-->
            <div class="user-edit">
               <p>
                {% if user == current_user %}
                <a class="btn btn-default" href="{{ url_for('.editProfileTest') }}">
                修改个人信息
                </a>
                {% endif %}
                {% if current_user.is_administrator() %}
                <a class="btn btn-danger" href="{{ url_for('.editProfileAdmin', id=user.id) }}">
                修改个人信息-管理员
                </a>
                {% endif %}
                {% if current_user == user %}
                <a class="btn btn-default" href="{{ url_for('.editAvator') }}">
                更改头像
                </a>    
                {% endif %}    
                </p> 
            </div>
            
            <!--显示关注-->
            <p>
            {% if current_user.can(Permission.FOLLOW) and current_user != user %}
                {% if current_user.is_following(user) %}
                <a class="btn btn-default" href="{{ url_for('.unfollow',username=user.name) }}">
                    unfollow
                    </a>
                {% else %}
                <a class="btn btn-default" href="{{ url_for('.follow',username=user.name) }}">
                    follow
                    </a>
                {% endif %}
            {% endif %}
            
            {% if current_user.is_authenticated and user != current_user and
            user.is_following(current_user) %}
            | <span class="label label-default">Follows you</span>
            {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        {% include '_post.html' %}
    </div>
    
    
    
</div>                  

{% endblock %}